<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Cloud IRC - Yugal Jindle</title>
        <meta name="description" content="irc like chatting system">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" href="static/css/normalize.css">
        <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet">
        <link rel="stylesheet" href="static/css/main.css">
        <script src="static/vendor/modernizr/modernizr.js"></script>
    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

        <!-- Header -->
        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <img src="/static/img/logo.png" class="logo" />
                <a href="#" class="navbar-brand">Cloud IRC - Yugal Jindle</a>
            </div>
        </div>
        <!-- Content -->
        <div class="container">
            <div class="row content">
                <div class="col-md-2 well commands">
                    <div class="panel panel-info">
                        <div class="panel-heading">
                            <strong>Commands</strong>
                        </div>
                        <div class="list-group">
                            <a class="list-group-item"><span class="cmd">/rooms</span><span class="glyphicon glyphicon-chevron-right pull-right"></span></a>
                            <a class="list-group-item"><span class="cmd">/join </span><span class="glyphicon glyphicon-chevron-right pull-right"></span></a>
                            <a class="list-group-item"><span class="cmd">/leave</span><span class="glyphicon glyphicon-chevron-right pull-right"></span></a>
                            <a class="list-group-item"><span class="cmd">/quit</span><span class="glyphicon glyphicon-chevron-right pull-right"></span></a>
                        </div>
                    </div>
                </div>
                <div class="col-md-10 well window">
                    <div class="panel panel-info window-panel">
                        <div class="panel-heading">
                            <strong>Chat window</strong>
                        </div>
                        <div class="panel-body window-body">
                            <!-- Chat messages go here -->
                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
        <!-- Footer -->
        <div class="navbar navbar-inverse navbar-fixed-bottom footer">
            <div class="navbar-inner">
                <form class="navbar-form form-horizontal" onsubmit="handleSend(this); return false;">
                        <div class="col-md-10 col-xs-8">
                            <input type="text" id="chatbox" class="form-control input-lg" placeholder="Type here..">
                        </div>
                        <div class="col-md-2 col-xs-4">
                            <button type="submit" class="btn btn-success btn-lg btn-block">Send</button>
                        </div>
                        <div class="clearfix"></div>
                </form>
            </div>
        </div>

        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="static/vendor/jquery/jquery.min.js"><\/script>')</script>
        <script src="/socket.io/socket.io.js"></script>
        <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
        <script src="static/js/plugins.js"></script>
        <script src="static/js/client.js"></script>
        <script src="static/js/main.js"></script>
    </body>
</html>
